# Exercise: Descriptive Statistics

### Solve the following with `pandas` one-liners

**1. read `gapminder_lifeexpectancy.xlsx`**

In [34]:
import pandas as pd
life = pd.read_excel('../data/gapminder_lifeexpectancy.xlsx', index_col=0)

**2. show the first 3 rows**

In [35]:
life.iloc[0:3]

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,28.21,28.2,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
life.isna()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Abkhazia,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
Afghanistan,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Akrotiri and Dhekelia,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
Albania,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Algeria,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
Zambia,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Zimbabwe,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Ã…land,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
South Sudan,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

**3. filter out all years but 1960 and missing values**

In [37]:
life_clean = life[[1960]].dropna()
life_clean

                        1960
Life expectancy
Afghanistan            31.94
Albania                62.87
Algeria                47.50
Angola                 35.98
Antigua and Barbuda    62.97
...                      ...
Virgin Islands (U.S.)  63.75
Yemen                  32.64
Zambia                 48.34
Zimbabwe               53.11
South Sudan            34.61

[202 rows x 1 columns]

In [38]:
life.columns

Int64Index([1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809,
            ...
            2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
           dtype='int64', length=217)

**4. calculate the mean life expectancy**

In [39]:
life_clean.mean()

1960    54.732822
dtype: float64

**5. calculate the median**

In [40]:
life_clean.median()

1960    56.185
dtype: float64

**6. calculate the standard deviation**

In [41]:
life_clean.std()

1960    11.689637
dtype: float64

**7. calculate the variance**

In [42]:
life_clean.var()

1960    136.647617
dtype: float64

**8. find the highest life expectancy**

In [43]:
life_clean.max()

1960    74.22
dtype: float64

**9. find the lowest life expectancy**

In [44]:
life_clean.min()

1960    29.61
dtype: float64

**10. find the 90% quantile**

In [45]:
life_clean.quantile(0.9)

1960    69.707
Name: 0.9, dtype: float64

**11. store the number of data points in a variable**

In [50]:
life_clean[[1960]].count()

1960    202
dtype: int64

**12. calculate min, max, mean and range (and possibly other descriptors) with a single line**

In [47]:
life_clean.describe()

             1960
count  202.000000
mean    54.732822
std     11.689637
min     29.610000
25%     45.075000
50%     56.185000
75%     64.742500
max     74.220000