In [28]:
#pip install psycopg2-binary

In [29]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/kith/.local/lib/python3.11/site-packages (2.0.10)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/kith/.local/lib/python3.11/site-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/kith/.local/lib/python3.11/site-packages (from sqlalchemy) (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [30]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [31]:
conn_string = 'postgresql://postgres:postgres@localhost:5432/northwind'
conn_aws = 'postgresql://postgres:postgreskith@dbkith.cdliktp0fdw2.us-east-1.rds.amazonaws.com:5500/northwind'
  
db = create_engine(conn_string)
connection = db.connect()

In [32]:
'''
conn_psy = psycopg2.connect(database="northwind",
                        user='postgres', password='postgres', 
                        host='127.0.0.1', port='5432'
)
  
conn.autocommit = True
cursor = conn.cursor()
'''

'\nconn_psy = psycopg2.connect(database="northwind",\n                        user=\'postgres\', password=\'postgres\', \n                        host=\'127.0.0.1\', port=\'5432\'\n)\n  \nconn.autocommit = True\ncursor = conn.cursor()\n'

In [33]:
sql2 = '''copy employee_territories
FROM '/home/kith/tmp/employee_territories.csv'
DELIMITER ','
CSV HEADER;'''

In [34]:
df = pd.read_csv('/home/kith/tmp/employee_territories.csv')
df.head()

   employeeID  territoryID
0           1         6897
1           1        19713
2           2         1581
3           2         1730
4           2         1833

In [35]:
with open('/home/kith/Spiced/north/northwind_ddl.sql', 'r') as file:
    sql = file.read()
sql

"--\n-- PostgreSQL database dump\n--\n\nSET statement_timeout = 0;\nSET lock_timeout = 0;\nSET client_encoding = 'UTF8';\nSET standard_conforming_strings = on;\nSET check_function_bodies = false;\nSET client_min_messages = warning;\n\n\n\nSET default_tablespace = '';\n\nSET default_with_oids = false;\n\n\n---\n--- drop tables\n---\n\n\nDROP TABLE IF EXISTS customer_customer_demo;\nDROP TABLE IF EXISTS customer_demographics;\nDROP TABLE IF EXISTS employee_territories;\nDROP TABLE IF EXISTS order_details;\nDROP TABLE IF EXISTS orders;\nDROP TABLE IF EXISTS customers;\nDROP TABLE IF EXISTS products;\nDROP TABLE IF EXISTS shippers;\nDROP TABLE IF EXISTS suppliers;\nDROP TABLE IF EXISTS territories;\nDROP TABLE IF EXISTS us_states;\nDROP TABLE IF EXISTS categories;\nDROP TABLE IF EXISTS region;\nDROP TABLE IF EXISTS employees;\n\n--\n-- Name: categories; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE categories (\n    category_id smallint NOT NULL PRIMARY KEY,\n    category_name character varying(15) NOT NULL,\n    description text,\n    picture bytea\n);\n\n\n--\n-- Name: customer_demographics; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE customer_demographics (\n    customer_type_id bpchar NOT NULL PRIMARY KEY,\n    customer_desc text\n);\n\n\n--\n-- Name: customers; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE customers (\n    customer_id bpchar NOT NULL PRIMARY KEY,\n    company_name character varying(40) NOT NULL,\n    contact_name character varying(30),\n    contact_title character varying(30),\n    address character varying(60),\n    city character varying(15),\n    region character varying(15),\n    postal_code character varying(10),\n    country character varying(15),\n    phone character varying(24),\n    fax character varying(24)\n);\n\n--\n-- Name: customer_customer_demo; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE customer_customer_demo (\n    customer_id bpchar NOT NULL,\n    customer_type_id bpchar NOT NULL,\n    PRIMARY KEY (customer_id, customer_type_id),\n    FOREIGN KEY (customer_type_id) REFERENCES customer_demographics,\n    FOREIGN KEY (customer_id) REFERENCES customers\n);\n\n--\n-- Name: employees; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE employees (\n    employee_id smallint NOT NULL PRIMARY KEY,\n    last_name character varying(20) NOT NULL,\n    first_name character varying(10) NOT NULL,\n    title character varying(30),\n    title_of_courtesy character varying(25),\n    birth_date date,\n    hire_date date,\n    address character varying(60),\n    city character varying(15),\n    region character varying(15),\n    postal_code character varying(10),\n    country character varying(15),\n    home_phone character varying(24),\n    extension character varying(4),\n    photo bytea,\n    notes text,\n    reports_to smallint,\n    photo_path character varying(255),\n\tFOREIGN KEY (reports_to) REFERENCES employees\n);\n\n\n--\n-- Name: suppliers; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE suppliers (\n    supplier_id smallint NOT NULL PRIMARY KEY,\n    company_name character varying(40) NOT NULL,\n    contact_name character varying(30),\n    contact_title character varying(30),\n    address character varying(60),\n    city character varying(15),\n    region character varying(15),\n    postal_code character varying(10),\n    country character varying(15),\n    phone character varying(24),\n    fax character varying(24),\n    homepage text\n);\n\n\n--\n-- Name: products; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE products (\n    product_id smallint NOT NULL PRIMARY KEY,\n    product_name character varying(40) NOT NULL,\n    supplier_id smallint,\n    category_id smallint,\n    quantity_per_unit character varying(20),\n    unit_price real,\n    units_in_stock smallint,\n    units_on_order smallint,\n    reorder_level smallint,\n    discontinued integer NOT NULL,\n\tFOREIGN KEY (category_id) REFERENCES categories,\n\tFOREIGN KEY (supplier_id) REFERENCES suppliers\n);\n\n\n--\n-- Name: region; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE region (\n    region_id smallint NOT NULL PRIMARY KEY,\n    region_description bpchar NOT NULL\n);\n\n\n--\n-- Name: shippers; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE shippers (\n    shipper_id smallint NOT NULL PRIMARY KEY,\n    company_name character varying(40) NOT NULL,\n    phone character varying(24)\n);\n\n\n--\n-- Name: orders; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE orders (\n    order_id smallint NOT NULL PRIMARY KEY,\n    customer_id bpchar,\n    employee_id smallint,\n    order_date date,\n    required_date date,\n    shipped_date date,\n    ship_via smallint,\n    freight real,\n    ship_name character varying(40),\n    ship_address character varying(60),\n    ship_city character varying(15),\n    ship_region character varying(15),\n    ship_postal_code character varying(10),\n    ship_country character varying(15),\n    FOREIGN KEY (customer_id) REFERENCES customers,\n    FOREIGN KEY (employee_id) REFERENCES employees,\n    FOREIGN KEY (ship_via) REFERENCES shippers\n);\n\n\n--\n-- Name: territories; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE territories (\n    territory_id character varying(20) NOT NULL PRIMARY KEY,\n    territory_description bpchar NOT NULL,\n    region_id smallint NOT NULL,\n\tFOREIGN KEY (region_id) REFERENCES region\n);\n\n\n--\n-- Name: employee_territories; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE employee_territories (\n    employee_id smallint NOT NULL,\n    territory_id character varying(20) NOT NULL,\n    PRIMARY KEY (employee_id, territory_id),\n    FOREIGN KEY (territory_id) REFERENCES territories,\n    FOREIGN KEY (employee_id) REFERENCES employees\n);\n\n\n--\n-- Name: order_details; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE order_details (\n    order_id smallint NOT NULL,\n    product_id smallint NOT NULL,\n    unit_price real NOT NULL,\n    quantity smallint NOT NULL,\n    discount real NOT NULL,\n    PRIMARY KEY (order_id, product_id),\n    FOREIGN KEY (product_id) REFERENCES products,\n    FOREIGN KEY (order_id) REFERENCES orders\n);\n\n\n--\n-- Name: us_states; Type: TABLE; Schema: public; Owner: -; Tablespace: \n--\n\nCREATE TABLE us_states (\n    state_id smallint NOT NULL PRIMARY KEY,\n    state_name character varying(100),\n    state_abbr character varying(2),\n    state_region character varying(50)\n);"

In [36]:
with open('/home/kith/Spiced/north/northwind_data.sql', 'r') as file:
    sqldata = file.read()

In [37]:
#df.to_sql('employee_territories', con=connection, if_exists='replace', index=False)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()
  
cursor.execute(sql)
conn.commit()
cursor.execute(sqldata)
conn.commit()

In [38]:
import os
import psycopg2.extras as extras

In [39]:
data_dir= '/home/kith/tmp/'
files = os.listdir(data_dir)
files

['orders.csv',
 'territories.csv',
 'employee_territories.csv',
 'categories.csv',
 'customers.csv',
 'order_details.csv',
 'employees.csv',
 'regions.csv',
 'products.csv',
 'shippers.csv',
 'suppliers.csv']

In [40]:
def execute_values(conn, df, table):
  
    tuples = [tuple(x) for x in df.to_numpy()]
  
    cols = ', '.join(list(df.columns))
    # SQL query to execute
    query = "INSERT INTO %s (%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("the dataframe is inserted")
    cursor.close()

In [41]:
sql1 = '''select * from employees;'''
cursor.execute(sql1)
conn.commit()

for i in cursor.fetchall():
   print(i)

(2, 'Fuller', 'Andrew', 'Vice President, Sales', 'Dr.', datetime.date(1952, 2, 19), datetime.date(1992, 8, 14), '908 W. Capital Way', 'Tacoma', 'WA', '98401', 'USA', '(206) 555-9482', '3457', <memory at 0x7eff07b1dc00>, 'Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.', None, 'http://accweb/emmployees/fuller.bmp')
(3, 'Leverling', 'Janet', 'Sales Representative', 'Ms.', datetime.date(1963, 8, 30), datetime.date(1992, 4, 1), '722 Moss Bay Blvd.', 'Kirkland', 'WA', '98033', 'USA', '(206) 555-3412', '3355', <memory at 0x7eff075a8f40>, 'Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.', 2, 'http://accweb/emmployees/leverling.bmp')
(4, 'Peacock', 'Margaret', 'Sales Representative', 'Mrs.', datetime.date(1937, 9, 19), datetime.date(1993, 5, 3), '4110 Old Redmond Rd.', 'Redmond', 'WA', '98052', 'USA', '(206) 555-8122', '5176', <memory at 0x7eff075a8d00>, 'Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.', 2, 'http://accweb/emmployees/peacock.bmp')
(5, 'Buchanan', 'Steven', 'Sales Manager', 'Mr.', datetime.date(1955, 3, 4), datetime.date(1993, 10, 17), '14 Garrett Hill', 'London', None, 'SW1 8JR', 'UK', '(71) 555-4848', '3453', <memory at 0x7eff075a8b80>, 'Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. Buchanan has completed the courses Successful Telemarketing and International Sales Management.  He is fluent in French.', 2, 'http://accweb/emmployees/buchanan.bmp')
(6, 'Suyama', 'Michael', 'Sales Representative', 'Mr.', datetime.date(1963, 7, 2), datetime.date(1993, 10, 17), 'Coventry House\\nMiner Rd.', 'London', None, 'EC2 7JR', 'UK', '(71) 555-7773', '428', <memory at 0x7eff075a90c0>, 'Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses Multi-Cultural Selling and Time Management for the Sales Professional.  He is fluent in Japanese and can read and write French, Portuguese, and Spanish.', 5, 'http://accweb/emmployees/davolio.bmp')
(7, 'King', 'Robert', 'Sales Representative', 'Mr.', datetime.date(1960, 5, 29), datetime.date(1994, 1, 2), 'Edgeham Hollow\\nWinchester Way', 'London', None, 'RG1 9SP', 'UK', '(71) 555-5598', '465', <memory at 0x7eff075a93c0>, 'Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled Selling in Europe, he was transferred to the London office in March 1993.', 5, 'http://accweb/emmployees/davolio.bmp')
(8, 'Callahan', 'Laura', 'Inside Sales Coordinator', 'Ms.', datetime.date(1958, 1, 9), datetime.date(1994, 3, 5), '4726 - 11th Ave. N.E.', 'Seattle', 'WA', '98105', 'USA', '(206) 555-1189', '2344', <memory at 0x7eff075a9540>, 'Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.', 2, 'http://accweb/emmployees/davolio.bmp')
(9, 'Dodsworth', 'Anne', 'Sales Representative', 'Ms.', datetime.date(1966, 1, 27), datetime.date(1994, 11, 15), '7 Houndstooth Rd.', 'London', None, 'WG2 7LT', 'UK', '(71) 555-4444', '452', <memory at 0x7eff075a9600>, 'Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German.', 5, 'http://accweb/emmployees/davolio.bmp')
(1, 'Davolio', 'Nancy', 'Sales Representative', 'Ms.', datetime.date(1948, 12, 8), datetime.date(1992, 5, 1), '507 - 20th Ave. E.\\nApt. 2A', 'Seattle', 'WA', '98122', 'USA', '(206) 555-9857', '5467', <memory at 0x7eff075a96c0>, 'Education includes a BA in psychology from Colorado State University in 1970.  She also completed The Art of the Cold Call.  Nancy is a member of Toastmasters International.', 2, 'http://accweb/emmployees/davolio.bmp')

In [47]:
cursor.execute("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'employees'") 

rows = cursor.fetchall() 
for row in rows: 
    print(f"{row[0]}: {row[1]}")

birth_date: date
photo: bytea
hire_date: date
reports_to: smallint
employee_id: smallint
address: character varying
city: character varying
region: character varying
postal_code: character varying
country: character varying
home_phone: character varying
extension: character varying
notes: text
photo_path: character varying
last_name: character varying
first_name: character varying
title: character varying
title_of_courtesy: character varying

In [59]:
cur = conn.cursor()
cur.execute("""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema='public' AND table_type='BASE TABLE'
""")

In [60]:

''' 
Loop through the results of the query and get the information about the columns in each table by executing a SELECT statement on the "information_schema.columns" table.
'''
tables = cur.fetchall()
tb = list(tables)
tb

[('orders',),
 ('shippers',),
 ('region',),
 ('territories',),
 ('employee_territories',),
 ('us_states',),
 ('order_details',),
 ('customer_demographics',),
 ('customer_customer_demo',),
 ('customers',),
 ('employees',),
 ('categories',),
 ('products',),
 ('suppliers',)]

In [66]:
data = {}
for table in tb:
    cur.execute("""
        SELECT column_name, data_type
        FROM information_schema.columns
        WHERE table_name=%s;
    """, (table[0],))
    columns = cur.fetchall()
    data[table[0]] = columns
print(data)

{'orders': [('order_id', 'smallint'), ('employee_id', 'smallint'), ('order_date', 'date'), ('required_date', 'date'), ('shipped_date', 'date'), ('ship_via', 'smallint'), ('freight', 'real'), ('ship_country', 'character varying'), ('customer_id', 'character'), ('ship_name', 'character varying'), ('ship_address', 'character varying'), ('ship_city', 'character varying'), ('ship_region', 'character varying'), ('ship_postal_code', 'character varying')], 'shippers': [('shipper_id', 'smallint'), ('company_name', 'character varying'), ('phone', 'character varying')], 'region': [('region_id', 'smallint'), ('region_description', 'character')], 'territories': [('region_id', 'smallint'), ('territory_id', 'character varying'), ('territory_description', 'character')], 'employee_territories': [('employee_id', 'smallint'), ('territory_id', 'character varying')], 'us_states': [('state_id', 'smallint'), ('state_name', 'character varying'), ('state_abbr', 'character varying'), ('state_region', 'character varying')], 'order_details': [('order_id', 'smallint'), ('product_id', 'smallint'), ('unit_price', 'real'), ('quantity', 'smallint'), ('discount', 'real')], 'customer_demographics': [('customer_type_id', 'character'), ('customer_desc', 'text')], 'customer_customer_demo': [('customer_id', 'character'), ('customer_type_id', 'character')], 'customers': [('customer_id', 'character'), ('company_name', 'character varying'), ('contact_name', 'character varying'), ('contact_title', 'character varying'), ('address', 'character varying'), ('city', 'character varying'), ('region', 'character varying'), ('postal_code', 'character varying'), ('country', 'character varying'), ('phone', 'character varying'), ('fax', 'character varying')], 'employees': [('birth_date', 'date'), ('photo', 'bytea'), ('hire_date', 'date'), ('reports_to', 'smallint'), ('employee_id', 'smallint'), ('address', 'character varying'), ('city', 'character varying'), ('region', 'character varying'), ('postal_code', 'character varying'), ('country', 'character varying'), ('home_phone', 'character varying'), ('extension', 'character varying'), ('notes', 'text'), ('photo_path', 'character varying'), ('last_name', 'character varying'), ('first_name', 'character varying'), ('title', 'character varying'), ('title_of_courtesy', 'character varying')], 'categories': [('category_id', 'smallint'), ('picture', 'bytea'), ('category_name', 'character varying'), ('description', 'text')], 'products': [('discontinued', 'integer'), ('reorder_level', 'smallint'), ('product_id', 'smallint'), ('supplier_id', 'smallint'), ('category_id', 'smallint'), ('unit_price', 'real'), ('units_in_stock', 'smallint'), ('units_on_order', 'smallint'), ('product_name', 'character varying'), ('quantity_per_unit', 'character varying')], 'suppliers': [('supplier_id', 'smallint'), ('company_name', 'character varying'), ('contact_name', 'character varying'), ('contact_title', 'character varying'), ('address', 'character varying'), ('city', 'character varying'), ('region', 'character varying'), ('postal_code', 'character varying'), ('country', 'character varying'), ('phone', 'character varying'), ('fax', 'character varying'), ('homepage', 'text')]}

In [26]:
import pydot
import graphviz

In [67]:
'''
Use pydot to create a UML diagram with the information gathered in steps 2 and 3.
'''

graph = pydot.Dot(graph_type="graph")
for dt in data:
    node = pydot.Node(dt, shape="record")
    label = "{"
    for column in data[dt]:
        label += f"{column[0]} : {column[1]}\\l" 
      
    label += "}"
    print(label)
    node.set_label(label)
    graph.add_node(node)
    print(dt)
graph.write_png("database_uml.png")

{order_id : smallint\lemployee_id : smallint\lorder_date : date\lrequired_date : date\lshipped_date : date\lship_via : smallint\lfreight : real\lship_country : character varying\lcustomer_id : character\lship_name : character varying\lship_address : character varying\lship_city : character varying\lship_region : character varying\lship_postal_code : character varying\l}
orders
{shipper_id : smallint\lcompany_name : character varying\lphone : character varying\l}
shippers
{region_id : smallint\lregion_description : character\l}
region
{region_id : smallint\lterritory_id : character varying\lterritory_description : character\l}
territories
{employee_id : smallint\lterritory_id : character varying\l}
employee_territories
{state_id : smallint\lstate_name : character varying\lstate_abbr : character varying\lstate_region : character varying\l}
us_states
{order_id : smallint\lproduct_id : smallint\lunit_price : real\lquantity : smallint\ldiscount : real\l}
order_details
{customer_type_id : character\lcustomer_desc : text\l}
customer_demographics
{customer_id : character\lcustomer_type_id : character\l}
customer_customer_demo
{customer_id : character\lcompany_name : character varying\lcontact_name : character varying\lcontact_title : character varying\laddress : character varying\lcity : character varying\lregion : character varying\lpostal_code : character varying\lcountry : character varying\lphone : character varying\lfax : character varying\l}
customers
{birth_date : date\lphoto : bytea\lhire_date : date\lreports_to : smallint\lemployee_id : smallint\laddress : character varying\lcity : character varying\lregion : character varying\lpostal_code : character varying\lcountry : character varying\lhome_phone : character varying\lextension : character varying\lnotes : text\lphoto_path : character varying\llast_name : character varying\lfirst_name : character varying\ltitle : character varying\ltitle_of_courtesy : character varying\l}
employees
{category_id : smallint\lpicture : bytea\lcategory_name : character varying\ldescription : text\l}
categories
{discontinued : integer\lreorder_level : smallint\lproduct_id : smallint\lsupplier_id : smallint\lcategory_id : smallint\lunit_price : real\lunits_in_stock : smallint\lunits_on_order : smallint\lproduct_name : character varying\lquantity_per_unit : character varying\l}
products
{supplier_id : smallint\lcompany_name : character varying\lcontact_name : character varying\lcontact_title : character varying\laddress : character varying\lcity : character varying\lregion : character varying\lpostal_code : character varying\lcountry : character varying\lphone : character varying\lfax : character varying\lhomepage : text\l}
suppliers